---
export interface Props {
    date?: string;
    title: string;
    link?: string;
}

function displayLink(link: string) {
    if (link.startsWith("tel:")) {
        link = link.split(":", 2)[1];
        // TODO: format phone numbers
        return link;
    }
    if (link.match(/^https?:\/\//)) return link.split("//", 2)[1];
}

const {date, title, link} = Astro.props;
---

<div class="left-side">
<h3 class="title font-bold">
    {title}
</h3>
{
date
? <p class="date text-$cez text-4mm font-bold">{date}</p>
: link && <a href={link} class="link text-4mm text-$cez">{displayLink(link)}</a>
}

</div>
<div class="right-side">
<p class="body text-4mm"><slot/></p>
{date && link && (
<a href={link} class="link text-4mm text-$cez">{displayLink(link)}</a>
)}
</div>

<style>
.left-side {
    text-align: right;
}
.link {
    margin-bottom: .5cm;
}
.body {
    text-wrap: balance;
}
</style>
